<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="login-box">
    <h2>Login</h2>
    <form id="login" name="login" method="post" action="/login">
        <div class="login-field">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="login-field">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <div >
            <label><input type="radio" name="identity" value="student" required=""/>Student</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="identity" value="teacher" required=""/>Teacher</label>
        </div>

        <button type="reset" name="">Reset</button>&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" name="" >Submit</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="index">还有没有账号？点击注册</a>
    </form>
</div>
</body>

</html>